<h1>Arrivals</h1>

<ul>
  <% @arrivals.each do |arrival| %>
    <li><%= link_to "#{arrival.bus.number} / #{arrival.names} / #{arrival.time}", arrival_path(arrival) %></li>
  <% end %>
</ul>

<br><%= link_to "Create New Arrival", new_arrival_path, :class => "btn btn-default" %>
<br>
<br><%= link_to "Home Page", root_path, :class => "btn btn-default" %>
