<h1>Create a New Arrival</h1>

<%= render('form') %>

<p><%= link_to "Arrivals", buses_path, :class => 'btn btn-default' %></p>
<p><%= link_to "Home Page", root_path, :class => 'btn btn-default' %></p>
