<h1>Stops</h1>

<ul>
  <% @stops.each do |stop| %>
    <li><%= link_to "#{stop.station.name} / #{stop.line.name}", stop_path(stop) %></li>
  <% end %>
</ul>

<%= link_to "New Stop", new_stop_path, :class => 'btn btn-default' %>
