<%= content_for(:title, "Bus System") %>

<h1>Welcome to the Bus System!</h1>

<p><%= link_to "Stations", stations_path, :class => 'btn btn-default' %></p>
<p><%= link_to "Lines", lines_path, :class => 'btn btn-default' %></p>
<p><%= link_to "Stops", stops_path, :class => 'btn btn-default' %></p>
