<h1>Create a New Bus</h1>

<%= render('form') %>

<p><%= link_to "See All Buses", buses_path, :class => 'btn btn-default' %></p>
<p><%= link_to "Home Page", root_path, :class => 'btn btn-default' %></p>
